@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES */
body {
  font: 1rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
}

header {
  top: 0;
}

nav {
  background-color: whitesmoke;
  color: black;
  font-weight: bolder;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}

nav a:link,
nav a:visited {
  color: #000;
}

nav a:hover,
nav a:focus {
  color: hsla(0, 0%, 20%, 0.6);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

/* || PROFILE CARDS */
.card {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.card img {
  border: 5px double #333;
  border-radius: 50%;
}

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
}

footer {
  bottom: 0;
}