/*

Typography is the way that text is arranged and presented

*/

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

/* 
input,
button {
    font: inherit;
} */

p {
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;

    text-transform: uppercase;
    text-transform: capitalize;
    text-transform: lowercase;

    text-align: right;
    text-align: justify;
    text-align: center;
    text-align: left;

    text-indent: 2em;

    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;

    font-weight: 800;
    font-weight: 300;

    font-style: italic;
    font-style: oblique;
    font-style: normal;
}