@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-image: url('../img/bubbles.png'), linear-gradient(to left, steelblue, #fff);
  background-repeat: repeat-y;
  background-position: right center;
  background-size: 20%, auto;

  /* shorthand */
  background: repeat-y right url('../img/bubbles.png'), no-repeat center linear-gradient(to left,
      steelblue,
      #fff);
  background-size: 20%, auto;
}

/* Starting css styling */

.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 5px double red;
}

/* Making image responsive because we added width and height both to image in html  */
.example img {
  width: 25%;
  /* 25% (relative-unit) of the container */
  height: auto;
  /* height adjusting to the width */
}

/* See that space below the image and the border! images were originally used to work alongside text so to accomodate the little extendings of the text they automatically have a little space below them and are inline elements */

/* Go back to html */

/* To fix this adding a reset below the universal selector  to img element */

/* Go back to html */

.profile-pic-figure {
  width: 35%;
}

/* Making image responsive because we added width and height both to image in html  */
.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

/* Go back to html */

/* Adding general styles and making hero container a flexbox centering content vertically and placing it at the flex start  */
.hero {
  border-bottom: 2px solid #000;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.h1 {
  font-size: 500%;
}

/* Utility Classes */

/* Trying to break the h1 on resizing in a way to keep it coherent  */
.nowrap {
  white-space: nowrap;
}

/* Removing figcaption fron the page  */
.off-screen {
  position: absolute;
  left: -10000px;
}

/* End Utility Classes  */

/* Working with background images */
.hero {
  /* background-color: bisque;
  background-image: url(../img/pat1.png);
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-repeat: repeat;

  background-image: url('../img/pat2.png');
  background-repeat: no-repeat;
  background-repeat: repeat;

  background-image: url('../img/pat2-transparency.png');

  background-image: url('../img/scenic-2200x1331.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover; */

  /* text is not popping out also want a diff background */
  /* background-image: url('../img/map-2176x1451.png'); */
}

.h1 {
  color: aliceblue;

  /* text not popping out */
  text-shadow: 2px 2px 5px #000;
  /*
  background-color: hsla(0, 0%, 0%, 0.401);
  padding: 0.25rem;
  border-radius: 10px;
  */
}

/* Go back to html and wrap the hero section in a div container */

/* Moving the bg-image from the hero to the container and the applying bg-color to the hero section within  */
.container {
  background-color: bisque;
  background-image: url('../img/map-2176x1451.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-position: top right;
  background-position: bottom left;
  background-size: cover;
}

.hero {
  background-color: hsla(0, 0%, 0%, 0.222);
}

/* Go back to html */

.clip {
  font-weight: 800;
  font-size: 16rem;
  text-align: center;
  background-image: url('../img/scenic-2200x1331.png');
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}