* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    min-height: 100vh;
    background-color: papayawhip;
}
/*
header {
    width: 50%;
} 
*/

h1 {
    border: 2px solid black;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    /* width: 50vw; */
    width: 50%;
    border: 2px solid black;
    border-top: 0;
    font-size: 2rem;
}

p {
    font-size: 2rem;
}
