@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
  list-style-type: lower-alpha;
  list-style-type: disc;
  list-style-type: circle;
  list-style-type: upper-roman;
  list-style-type: none;

  padding: 0;
}

ul {
  list-style-type: square;
  list-style-image: url('../images/checkmark.png');
  list-style-position: inside;
  list-style-position: outside;

  text-align: center;
  color: blue;
  line-height: 1.5;

  list-style: square url('../images/checkmark.png') inside;
}

ul li:nth-child(2) {
  color: red;
}

ul ::marker {
  content: 'Buy Now >>> ';
  font-size: 1em;
  color: blueviolet;
  font-family: fantasy;
}